body {
    font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei", "å¾®è½¯é›…é»‘", STXihei, "åŽæ–‡ç»†é»‘", sans-serif
}
.small-tag {
    font-size: 12px
}
.required-tag {
    color: red
}
.table th,
.table td {}.badge {
    display: inline;
    font-size: 12px;
    background-color: red;
    padding: 3px 7px 4px 7px!important
}
.clearfix {
    clear: both
}
.pagination>li>.fa {
    font-family: FontAwesome
}
.separator {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ddd
}
.dataTable td {
    font-size: 14px
}
.require-field {
    color: red
}
.scroll-pane {
    width: 100%;
    height: 800px;
    overflow: auto
}
#welcome-bar {
    width: 100%;
    height: 41px;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
    line-height: 2.5em;
    font-size: 16px;
    background-color: #fff
}
.row {
    margin-left: 0px;
    margin-right: 0px
}
#wrapper {
    transition: all 0.4s ease 0s;
    height: 100%
}
#sidebar-wrapper {}.sidebar-nav {}#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto
}
#wrapper.active {}#wrapper.active #sidebar-wrapper {}#page-content-wrapper {
    width: 100%
}
.sub_icon {
    float: left;
    width: 20px;
    padding-top: 12px
}
.glyphicon {
    font-family: FontAwesome;
    font-size: 14px
}
.fa_icon {
    float: left;
    width: 20px;
    padding-top: 15px;
    font-size: 14px
}
.home-glyphicon-link:before {
    content: "\f015"
}
.register-glyphicon-link:before {
    content: "\f044"
}
.mpin-glyphicon-link:before {
    content: "\f07a"
}
.news-glyphicon-link:before {
    content: "\f1ea"
}
.team-glyphicon-link:before {
    content: "\f0e8"
}
.profile-glyphicon-link:before {
    content: "\f007"
}
.submenu-glyphicon-link:before {
    content: "\f054"
}
.mwallet-glyphicon-link:before {
    content: "\f0d6"
}
.cro-glyphicon-link:before {
    content: "\f098"
}
.content-header {
    height: 65px;
    line-height: 65px
}
.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block
}
#signout-btn {
    font-size: 12px
}
.content-body {
    padding-top: 15px
}
.panel-title {
    font-size: 20px!important;
    font-weight: bold
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 20px auto
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px
}
.form-signin .checkbox {
    font-weight: normal
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px
}
.form-signin .form-control:focus {
    z-index: 2
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}
#ph-box,
#gh-box {
    position: relative;
    float: left;
    width: 100%;
    height: 300px;
    text-align: center;
    padding: 20px 10px;
    background-color: #333
}
#ph-box {
    background: url(../images/ph_bg.jpg) no-repeat center bottom;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover
}
#gh-box {
    background: url(../images/gh_bg.jpg) no-repeat center center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover
}
#ph-box {
    margin: 15px 5px 15px 6px
}
#gh-box {
    margin: 15px 6px 15px 5px
}
#ph-box p,
#gh-box p {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1)
}
.ph-title,
.gh-title {
    font-size: 28px;
    font-weight: bold
}
#ph-box a,
#gh-box a {
    font-size: 16px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1)
}
.shadow {
    -webkit-box-shadow: 2px 2px 5px 3px #333;
    -moz-box-shadow: 2px 2px 5px 3px #333;
    box-shadow: 2px 2px 5px 3px #333
}
.container {
    width: 100%
}
.register-form {}.register-form input {
    width: 98%
}
.register-form label span {
    font-size: 16px
}
.dot {
    width: 50px;
    height: 40px;
    position: absolute;
    top: 48%;
    text-align: center;
    line-height: 1em
}
.dot:after {
    font-family: FontAwesome;
    content: "\f133";
    font-size: 40px;
    position: absolute;
    left: 6px;
    top: -5px;
    color: #888
}
.speech-bubble-container {
    position: relative;
    overflow: hidden
}
.speech-bubble {
    position: relative;
    min-height: 20px;
    padding: 0px;
    width: 350px;
    margin: 10px 0 10px 55px;
    background-color: #eee;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
}
.speech-bubble:after,
.speech-bubble:before {
    position: absolute;
    right: 100%;
    display: inline-block;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    pointer-events: none
}
.speech-bubble:before {
    border-color: rgba(204, 204, 204, 0);
    border-right-color: #ccc;
    border-width: 9px;
    top: 50%;
    margin-top: -9px
}
.speech-bubble:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 8px;
    top: 50%;
    margin-top: -8px
}
.popover-title {
    font-weight: bold;
    background-color: #ccc;
    line-height: 1.5em
}
.speech-bubble div {
    padding: 10px 13px;
    background-color: #fff
}
.wallet {
    position: relative;
    padding-top: 20px;
    color: #fff;
    margin-bottom: 20px
}
.wallet span {
    font-size: 60px;
    color: #00ff5a
}
.wallet div {
    min-height: 220px
}
.wallet .col-md-3,
.wallet .col-md-4,
.wallet .col-md-6 {
    padding: 0 5px
}
.wallet .col-md-3 div,
.wallet .col-md-4 div,
.wallet .col-md-6 div {
    background: url(../images/bg1.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 5px 0 0 0;
    margin: 0 0 5px 0
}
.wallet h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center
}
.pin-status .col-left,
.pin-status .col-right {
    background-color: #ccc;
    width: 47%;
    min-height: 150px;
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    background: url(../images/bg1.jpg) no-repeat center center;
    background-size: 150%;
    color: #fff;
    margin: 0 5px
}
.pin-status span {
    color: #00ff5a;
    font-size: 50px
}
#checkBtn {
    margin-top: 5px
}
.nav .active {
    font-weight: bold
}
.red {
    color: red
}
.green {
    color: green
}
.blue {
    color: blue
}
@media (min-width: 768px) {
    .content-body {
        margin-left: 200px;
        margin-right: 0!important;
        width: -moz-calc(100% - 200px)!important;
        width: -webkit-calc(100% - 200px)!important;
        width: calc(100% - 200px)!important
    }
}
@media (max-width: 767px) {
    .content-body {
        width: none
    }
}